html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
input, button{
  width: 200px;
  box-sizing: content-box;
  margin:5px

}
button{
  appearance: none;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 90px;
}

canvas{
  background-color: inherit;
}

.robot canvas{
  position: absolute;
  width: 100%;
  height: 100%;
}



* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: goldenrod;
  }
}
