#container {
  padding: 0 2rem;
  height: 100vh;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  width: 100%;
}
.main{
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.code {
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
.homeCode{
  width:50%;
  line-height: 25px;
  letter-spacing: 3px;
  font-size: 19px;
}
.homeButtonsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}
.form{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.backButton{
  display: flex;
  justify-content: center;
  align-self: flex-start;
  width: 100px;
}

.footer{
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  font-family: "Palette Mosaic", cursive;
}

.robot .container{
  position: absolute;
  top: -100px;
  bottom: -100px;
  left: -220px;
  right: -100px;
  width: calc(100% + 360px);
  pointer-events: none;
}
.robot{
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: 60px;
}
.label {
  padding: 15px 0;
  transform: translateZ(0);
  font-weight: 700;
  z-index: 1;
  text-transform: uppercase;
  display:flex;
  align-items: center;
  justify-content: center;
  width: 250px;
}







